<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <section id="homePagesection">
    <a href="/newSearch">New Book Search</a>
    <h2> "Total Books in Database: <%= results.length %>"</h2>
  </section>
  <% results.forEach( book => { %>
  <div id="homePage">
    <img src=<%= book.image_url  %>>
    <h3><%= book.title %></h3>
    <p> <%= book.author %></p>
    <p> <%= book.descr %></p>
    <p> <%= book.isbn %></p>
    <a href="/books/<%= book.id %>">Details</a>
  </div>
  <% }) %>
</body>

</html>