<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Book App</title>
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% results.forEach( book => { %>      
      <img src= <%= book.image_url  %>>
      <h3><%= book.title %></h3>
      <p> <%= book.author %></p>
      <p> <%= book.descr %></p> 
      <p> <%= book.isbn %></p>
      <p> "total books in database: <%= results.length %>"</p>
      <a href="/books/<%= book.id %>">Details</a> 
    <% }) %>
  </body>
</html>